/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General Body Styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Navigation Menu Styling */
  nav {
    background-color: #07001f;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main Content Styling */
  .content {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 3rem;
    color: #07001f;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .highlight {
    font-weight: bold;
    color: #007BFF;
  }
  
  /* Footer Styling */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
  }
  